@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

.ml-auto
{
    margin-left: auto;
}

/* Font Settings */

.font-poppins
{
    font-family: Poppins, sans-serif;
}

.font-weight-bold
{
    font-weight: bold;
}

/* Image Settings */

.img-icon
{
    max-width: 100px;
    max-height: 100px;
}

/* Filter Settings */

.filter-dark
{
    filter: brightness(0.4);
}

/* Text Settings */

.text-black 
{
    color:blacK;
}

/* Login css */
a 
{
    color: #4aa4ff;
    text-decoration: none;
    background-color: transparent;
}

a:hover 
{
    color: #5cacfc;
    text-decoration: underline;
}

.btn 
{
  color: #fff;
  background-color: #4aa4ff;
  border-color: #4aa4ff;
}
  
.btn-outline-primary 
{
  color: white;
  border-color: #4aa4ff;
}

.btn-outline-primary:hover 
{
  background-color: #4aa4ff;
  border-color: #4aa4ff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus 
{
  box-shadow: 0 0 0 0.2rem #4aa4ff80;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled 
{
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle 
{
  background-color: #4aa4ff;
  border-color: #4aa4ff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus 
{
  box-shadow: 0 0 0 0.2rem #4aa4ff80;
}

.card-img-top:hover 
{
  background-image: url(https://img01.ztat.net/article/spp-media-p1/407c4c045e354faf9702a9c6913b1b7c/1dc644d9826749b8b3c572206a89da7d.jpg?imwidth=1800&filter=packshot);
}

/* Cart CSS */

#textCart
{
    background-color:white;
    margin-top:120px;
    border-radius: 25px;
    width:700px;
    height:400px;
    display:inline-block;
}

#payCart
{
    background-color:white;
    border-radius: 25px;
    display:inline-block;
    width:300px;
    height:260px;
    margin-left:150px;
    margin-bottom:140px;

}

header.cartBack
{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../res/cart_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
header.cartBack h1 {
    font-size: 2.25rem;
}

/* Help CSS */

#helpBox
{
    background-color: #2D3142;
    height: 500px;
    margin-top:120px;
    border-radius: 25px;
}

#logo
{
    height:160px;
    width:160px;
}

#helpEmail
{
    width:800px;
}

#helpText
{
    width:800px;
    height:260px;
}

header.helpBack
{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../res/help_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
header.helpBack h1
{
    font-size: 2.25rem;
}

/* Media Query */

@media (min-width: 992px)
{
    header.cartBack
    {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    header.cartBack p
    {
        font-size: 1.15rem;
    }

    header.cartBack h1
    {
        font-size: 3rem;
    }
}